<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>K-Link Shortener</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
</head>
<body>
    <div class="button-div">
        <h1>K-Link Shortener</h1>
        <p>Shorten your links with K-Link</p>

        {%if not shortUrl%}
            <form class="form" action="" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Submit" class="button">
            </form>
          </div>
        {%else%}
          <div class="result">
            <h2>Here is your shortened link:</h2>
            <a href="{{shortUrl}}"> {{request.get_host}}/{{shortUrl}}</a>
          </div>
        {%endif%}
    
</body>
</html>